<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">

                <div class="carousel-inner">
                    <div class="carousel-item active | domSeguro">
                        <a href="https://angular.io/docs">

                            <img src="assets/slider-img/angular-slide.png" height="600px" width="1100px">
                        </a>
                    </div>
                    <div class="carousel-item">


                        <img src="assets/slider-img/ts-slide.png" class="d-block w-100" alt="not-found" width="620" height="450" />

                        <!-- <div class="carousel-item">
                        <img src="assets/slider-img/buenas-practicas.png" class="d-block w-100" alt="not-found" width="620" height="450" />
                    </div>  -->
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
                </div>
            </div>
        </div>
    </div>