<div class="row headercarr ">
    <div class="col">

        <div id="demo" class="carousel slide " data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
                <li data-target="#demo" data-slide-to="5"></li>
            </ul>

            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <div class="box text-center">
                        <h3>Documentación Oficial Dpto. Informática MCSA sobre Angular</h3>

                    </div>
                    <a href="https://angular.io/">
                        <img src="assets/slider-img/angular-slide.png" width="1000" height="490" alt="Pagina oficial Angular">
                    </a>

                </div>
                <div class="carousel-item">
                    <div class="box text-center">
                        <h3>Documentación Oficial Dpto. Informática MCSA sobre TypeScript</h3>

                    </div>
                    <a href="https://www.typescriptlang.org/">
                        <img src="assets/slider-img/ts-slider.png" width="1000" height="490" alt="Ts document">
                    </a>
                </div>

                <div class="carousel-item">
                    <div class="box text-center">
                        <h3>Producto MundoCash</h3>

                    </div>
                    <a href="http://qamundocash.mundocredito.cl/#/PerfilDigital | domSeguro">
                        <img src="assets/slider-img/mundocash-slider.png" alt="MundoCash" width="1000" height="490">
                    </a>
                </div>

                <div class="carousel-item">
                    <div class="box text-center">
                        <h3>Producto rebaja tu cuota</h3>

                    </div>
                    <a href="http://qarebajatucuota.mundocredito.cl/#/PerfilDigital | domSeguro">
                        <img src="assets/slider-img/rebajaCuota-slider.png" alt="rebajaCuota" width="1000" height="490">
                    </a>
                </div>

                <div class="carousel-item">
                    <div class="box text-center">
                        <h3>Producto venta de credito</h3>

                    </div>
                    <a href="http://qaventacreditoonline.mundocredito.cl">
                        <img src="assets/slider-img/venta-slider.png" alt="creditodigital" width="1000" height="490">
                    </a>
                </div>
            </div>

            <!-- Left and right controls -->

            <div>
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
            </div>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

        </div>
    </div>
</div>