.logo {
    display: block;
    margin: auto;
    height: 50px;
    width: 50px;
}

.page-container {
    height: 100%;
    display: flex;
    background: rgb(35, 42, 58);
}

.list-items {
    padding-top: 100px;
}

.list-item {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    font-family: 'Muli', sans-serif;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.list-item:hover {
    color: white;
}

.list-item.selected {
    color: white;
}

.list-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: orange;
    opacity: 0;
    transform: scaleY(0);
    transition: transform 0.2s, opacity 0.2s;
}

.list-item:hover::before {
    opacity: 1;
    transform: scaleY(0.5) scaleX(2);
}

.list-item.selected::before {
    opacity: 1;
    transform: scaleY(1);
}