<div class="sidebar">

    <div class="navbar-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home']"> <img class="img-size" src="assets/menu-img/home.png"> Bienvendios </a>
    </div>

    <div class="navbar-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/instalacion']"> <img class="img-size" src="assets/menu-img/install.png"> Instalación </a>
    </div>


    <div class="navbar-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/buenasPracticas']"><img class="img-size" src="assets/menu-img/good-pract.png"> Buenas Prácticas</a>
    </div>

    <div class="navbar-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/heroes']"><img class="img-size" src="assets/menu-img/app.png"> App</a>
    </div>

    <div class="navbar-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/pipes']"><img class="img-size" src="assets/menu-img/pipe.png"> Pipes</a>
    </div>

    <div class="navbar-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/manualts']"><img class="img-size" src="assets/menu-img/ts.png"> Manual TypeScript</a>
    </div>
</div>