/* You can add global styles to this file, and also import other style files */

body {
    background-color: black;
    color: white !important;
    padding-bottom: 150px;
}

.texto-centrado {
    text-align: center;
    font: comic-sans;
}

.img-logo {
    width: 400px;
    height: 400px;
}

hr {
    color: whitesmoke;
}

th,
tr,
thead,
tbody {
    color: white
}

.img-centrado {
    display: block;
    margin: auto;
}