<div class="page-container">
    <div class="sidebar">

        <div class="title">
            <a href="https://www.mundocredito.cl/" routerLinkActive="selected"><img src="assets/img/Logomcp.png" class="icono"> MundoCredito </a>
        </div>

        <div class="list-items">
            <a routerLink="/home" routerLinkActive="selected" class="list-item">
                <i class="icon ion-md-news lead mr-2"></i> News
            </a>


            <a routerLink="/home" routerLinkActive="selected" class="list-item">
                <i class="icon ion-md-home lead mr-2"></i> Bienvenido
            </a>

            <a routerLink="/instalacion" routerLinkActive="selected" class="list-item">
                <i class="icon ion-logo-angular lead mr-2"></i> Manual Instalación
            </a>

            <a routerLink="/manualts" routerLinkActive="selected" class="list-item">
                <i class="icon ion-md-book lead mr-2"></i> TypeScript
            </a>

            <a routerlink="/pipes" routerLinkActive="selected" class="list-item">
                <i class="icon ion-md-information-circle lead mr-2"></i> Angular pipes
            </a>


        </div>




    </div>

    <div class="page-content-container">
        <router-outlet></router-outlet>
    </div>

</div>