<div class="container text-center">
    <h1>
        Buenas Prácticas
    </h1>
</div>

<div class="container">
    <h5>
        Declaración de variables
    </h5>
    <p>
        Existen varios tipos de variables y TypeScript nos deja declarar de varias formas:
    </p>
    <ul>
        <li>
            let: Esta anotación nos sirve para declarar cualquier tipo de variable, tal y como lo vemos en la imagen, también podemos definir los tipos de datos y asignarles un valor adecuándolo al tipo de variable.
        </li>
        <div class="m-3 ">
            <img src="assets/img-bp/let1.png" alt="notFound">
            <img src="assets/img-bp/let2.png" alt="notFound">
        </div>
        <p>
            También se puede declarar variables del tipo any la cual recibe cualquier valor que nosotros le asignamos, este tipo de variables es bueno usarlo al no saber qué tipo de dato recibirá nuestra función, pero siempre será una buena práctica definir nuestras
            variables una vez ya sepamos cual es el tipo de dato que esta recibiendo.
        </p>
        <div class="m-3 ">
            <img src="assets/img-bp/let3.png" alt="notFound">
        </div>
        <p>
            También existen las variables de tipo const, estas se caracterizan por que su valor es estático y este nunca cambiara dentro del contexto en el cual se le esté declarando, es una buena práctica al nombrarlas hacerlos con MAYUSCÚLAS ya que esto nos indica
            que es una variable estática.
        </p>
        <div class="m-3 ">
            <img src="assets/img-bp/let4.png" alt="notFound">
        </div>
    </ul>
</div>